{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

    <h1>Create new Inscription</h1>

    {{ include('inscription/_form.html.twig') }}

    <a href="{{ path('inscription_index') }}">back to list</a>
    <script>
        $('select').selectpicker();

        $('#inscription_uv').change(function() {
            console.log($('#inscription_uv option:selected').length);

            if ($('#inscription_uv option:selected').length==5){
                $('#inscription_uv').prop('disabled', 'disabled');

            }


        });
        function showAlert() {
            if (document.getElementById("inscription_uv").disabled) {
                alert("you have reached the max of UV");
            }
        }
        </script>
{% endblock %}
