{% extends 'base.html.twig' %}

{% block title %}New Inscription{% endblock %}
  {% block stylesheets %}
      <style>
          *{
              margin:0;
              padding:0;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
fieldset{
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
}
legend{
    font-size: 1.25em;
    padding: 0.25em;
    color: #999;
}
          label{
              display: block;
              margin-top: 1em;
          }
          input{
              padding: .5em;
              border: solid 1px #999;
          }
          </style>
      <style type="text/css"> a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

          *{box-sizing:border-box;line-height:normal; font-family: 'Inter'; box-sizing: border-box; }body{background:#fcfcfc;}.container:after{content:"";display:block;clear:both}.header{text-align:center;padding:40px 20px 20px;background:#343434;border-bottom:4px solid #7dc242;position:relative;z-index:2;overflow:hidden;color:#fefefe;}#logo{border:0;background:#343434;padding:0;position:relative;bottom:-5px;width:29px;margin-right:5px}.header svg{filter:blur(1px);opacity:.015;position:absolute;top:0;left:0;right:0;bottom:0;transform:rotate(3deg) scale(1.35);z-index:-1}.left-shade{fill:#afafaf}.right-shade{fill:#bfbfbf}.header h2{font-size:34px;margin-top:-12px;}.header h4{font-size:18px;font-weight:400;line-height:135%;margin:15px 0;color:#f0f0f0;}.header h4 a{color:#cfcfcf;}.content{max-width:1200px; margin:auto;}
      </style>
      <style>
          .container { margin: 150px auto; max-width: 960px; }
          .content form {
              border: 12px solid #f8f8f8;
              background: #f4f4f4;
              padding: 30px 45px 45px;
              margin: 70px 25px 40px;
              border-radius: 5px;
              max-width: 900px;
              box-shadow: 0 1px 7px rgba(0,0,0,0.2);
          }
          .content label {
              display: block;
              font-weight: bold;
              letter-spacing: 0.02em;
              color: #666;
              text-shadow: 0 0 0 #666;
              padding: 5px 0 8px;
          }
          .content label:not(:first-of-type) {
              margin-top: 30px;
          }
          .content select {
              width: 100%;
              max-width: 300px;
          }
      </style>
  {% endblock %}
{% block body %}

<section>
    {{ include('inscription/_form.html.twig') }}
</section>
    <a href="{{ path('inscription_index') }}">back to list</a>
    <script>



        </script>
{% endblock %}
