{% extends 'base.html.twig' %}

{% block title %}Admission index{% endblock %}

{% block body %}
    <h1>Admission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admission in admissions %}
            <tr>
                <td>{{ admission.user.email}}</td>

                <td>
                    <a href="{{ path('admission_show_accept', {'id': admission.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admission_new') }}">Create new</a>
{% endblock %}
