{% extends 'base.html.twig' %}

{% block title %}New Admission{% endblock %}

{% block body %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <h1>Create new Admission</h1>

    {{ include('admission/_form.html.twig') }}

    <a href="{{ path('admission_index') }}">back to list</a>
{% endblock %}
